body {
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

.header {
	text-align: center;
}

.footer {
	position: absolute;
	text-align: right;
	font-size: 12px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
}

.links {
	float: left;
	padding: 1rem;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	margin-left: 20%;
}

.result {
	font-style: oblique;
	font-weight: bold;
	font-size: 24px;
	color: red;
	float: right;
	margin-right: 20%;
	text-align: center;
	padding: 1rem;
}